<link rel="icon" href="/favicon.png">
<link rel="apple-touch-icon" href="/favicon.png">

<script>
    function loadAgies() {
        const aegis = new Aegis({
            id: 'gQ7V9SgjxZdOm1gy35', // 上报 id
            // uin: 'xxx', // 用户唯一 ID（可选）
            reportApiSpeed: true, // 接口测速
            reportAssetSpeed: true, // 静态资源测速
            spa: true // spa 应用页面跳转的时候开启 pv 计算
        });
    }
    function fallbackJSloader(url, loadedEvent) {
        console.log('Error loading asset, using fallback url');
        console.log('load asset from', url);

        let script = document.createElement("script");
        script.type = "text/javascript";
        script.src = url;
        script.async = true;
        if (loadedEvent)
            script.setAttribute('onload', `${loadedEvent}()`)
        document.body.appendChild(script);
    }
    function fallbackCSSloader(url) {
        console.log('Error loading asset, using fallback url');
        console.log('load asset from', url);

        var link = document.createElement("link");
        link.rel = "stylesheet";
        link.type = "text/css";
        link.href = url;
        let head = document.getElementsByTagName("head")[0];
        head.appendChild(link);
    }
</script>

<script async onload="loadAgies()" src="https://cdn-go.cn/aegis/aegis-sdk/latest/aegis.min.js"></script>

<link rel="preconnect" href="https://cdnjs.cloudflare.com">
<link rel="preconnect" href="https://cdn.jsdelivr.net">
<meta http-equiv="x-dns-prefetch-control" content="on">
<link rel="dns-prefetch" href="//api.github.com" />
<link rel="dns-prefetch" href="//avatars.githubusercontent.com" />
<script defer src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

<style type="text/css">body {font-weight: unset !important;font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif!important;}
.framed{width: 100%;} .framed .h-anchor{display: none;} .post-content p {font-size:1.1rem; line-height:1.8rem; margin:1em 0; }</style>
