<!-- link style -->
<!-- <style>
    .post-content a {
        transition: background-size 0.1s ease;
        background: linear-gradient(to bottom, transparent 62%, #fff56644 0) center center/0% 75% no-repeat;
        color: #52c41a;
        cursor: pointer;
    }

    .post-content a:hover {
        background-size: 100% 100%;
        color: #389e0d;
    }

    .post-content a:active {
        background-size: 80% 100%;
    }
</style> -->


<style>
    ::selection {
        background: #b5b5b5;
        color: #fff;
    }

    ::-moz-selection {
        background: #b5b5b5;
        color: #fff;
    }

    ::-webkit-selection {
        background: #b5b5b5;
        color: #fff;
    }
</style>