<script async src="{{ "assets/main.js" | absURL }}"></script>

<script>
    function panguSpaing() {
        pangu.spacingElementByClassName('post');
        pangu.spacingElementByTagName('p');

        document.addEventListener('DOMContentLoaded', () => {
            // listen to any DOM change and automatically perform spacing via MutationObserver()
            pangu.autoSpacingPage();
        });
    }
</script>
<script async onload="panguSpaing()" src="https://cdn.jsdelivr.net/npm/pangu@4/dist/browser/pangu.min.js"></script>