/* gittalk comment style */
#gitalk-container {
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
  width: 100%;
  text-align: left;
}

/* toc style */
@media (min-width: 1500px) {
  .js-toc {
    display: block !important;
  }
}

.js-toc {
  display: none;
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

.js-toc::-webkit-scrollbar {
  /* Chrome, Safari and Opera */
  display: none;
}

.js-toc {
  position: fixed;
  width: 20%;
  max-width: 400px;
  right: 3rem;
  top: 10em;
  text-align: left;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1rem 0rem;
}

ol.toc-list>li>a:hover {
  text-underline-position: under;
  font-weight: bolder;
}

.toc-list li {
  list-style: none;
}

.toc-list a {
  text-decoration: none;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  font-size: 1rem;
}

.is-active-link::before {
  background-color: #9dd5c0 !important;
}

.logo__cursor {
  background: #9dd5c0;
}

/* 超链接样式  */

.post-tags a,
.post-content a,
.index-content a {
  text-decoration: none;
  border-bottom: 1px dashed #9dd5c0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.post-tags a:hover,
.post-content a:hover,
.index-content a:hover,
nav a:hover {
  text-decoration: none;
  border-bottom: 2px solid #9dd5c0;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

/* custom ::selection */
::selection {
  background: #9dd5c0;
  color: #fff;
}

::-moz-selection {
  background: #9dd5c0;
  color: #fff;
}

::-webkit-selection {
  background: #9dd5c0;
  color: #fff;
}

/* abandoned link style  */

/* .post-content a {
    transition: background-size 0.1s ease;
    background: linear-gradient(to bottom, transparent 62%, #fff56644 0) center center/0% 75% no-repeat;
    color: #52c41a;
    cursor: pointer;
}

.post-content a:hover {
    background-size: 100% 100%;
    color: #389e0d;
}

.post-content a:active {
    background-size: 80% 100%;
} */

.logo__cursor {
  background-color: #9dd5c0 !important;
}

.on-list .post-title:hover {
  transform: translateY(-0.1rem);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.read-more:hover {
  transform: translateX(0.1rem);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

span.button.next:hover {
  display: block;
  transform: translateX(0.2rem);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.21s ease-in-out;
}

span.button.previous:hover {
  display: block;
  transform: translateX(-0.2rem);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}